*.class
documents
/workspace/.metadata
*.classpath
*.project
workspace/.sonarlint/**
workspace/maven-works/target/** 
workspace/web-works/.settings/**
workspace/Servers/**
workspace/user-mgmt/.settings/**

**/target/**
/drivers
**/node_modules/**

